* {
  box-sizing: border-box;
  font-size: 10px;
}

html, body {
  margin: 0; padding: 0;
  height: 100vh;
  overflow: hidden;
}

#card-main-area {
  border-radius: 7em;
  width: 90%;
  height: 80%;
  border: solid 1px;
  margin: auto;
  margin-top: 25%;
  transform: translateY(-50%);
  display: flex;

  .left-wrapper {
    flex: 4;
    height: 100%;
  }

  .right-wrapper {
    flex: 3;
    border: solid 1px;
    border-radius: 50px 0 10px 50px;
    height: 100%;
  }
}